@import url(https://fonts.googleapis.com/css?family=Oswald);
html{
	width:100%;
	height:100%;
}
body{
	background: url(images/background.jpg) center center no-repeat;
	-webkit-background-size: cover !important;
  	-moz-background-size: cover;
 	 -o-background-size: cover;
 	 background-size: cover !important;
	position:relative;
	margin:0;
	padding:0;
}
#bg-overlay{
	background: rgba(255,255,255,.5);
	position:absolute;
	left:0;
	right:0;
	bottom:0;
	top:0;
	height:100vh;
	width:100vw;
}
#content{
	padding-top:10vh;
	text-align: center;
}
input[type=text]{
	border-radius: 10px;
	padding:5px 7px;
	font-size:1.5em;
}
h1, h2{
	font-family: 'Oswald', sans-serif;
}
#copyrights{
	position: fixed;
	bottom:0;
	left:0;
	right:0;
	background-color:rgba(0,0,0,.75);
	color:#fff;
	padding: 5px 0;
	opacity:0.75;
}
#speedyfood-copyright{
	text-align:right;
}
img{
	max-width:75%;
	max-height:40vh;
}